@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Noto Sans KR", serif;
  display: flex;
  flex-flow: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

.sns {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 600px;
}
.sns li {
  flex: 1;
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}
.sns li a {
  color: #000;
  text-transform: uppercase;
}

.btn-wrap .btn {
  position: relative;
  display: block;
  text-align: center;
  width: 300px;
  height: 50px;
  line-height: 50px;
  color: #000;
  text-transform: uppercase;
  background-color: #ddd;
}
.btn-wrap .btn:hover {
  background-color: #fff;
  transition: ease-in-out 0.2s;
  text-decoration: underline;
}
.btn-wrap .btn:before, .btn-wrap .btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border: 1px solid #000;
  opacity: 0;
  transition: ease-in-out 0.2s;
}
.btn-wrap .btn:hover:before {
  opacity: 1;
  transform: rotate(45deg);
}
.btn-wrap .btn:hover:after {
  opacity: 1;
  transform: rotate(-45deg);
}

.font-large {
  text-transform: uppercase;
  color: red;
  font-size: 50px;
}
.font-medium {
  color: green;
  font-size: 30px;
}
.font-small {
  color: blue;
  font-size: 20px;
}

/* .frame {
  margin: 10px;
  padding: 10px;
  .btn {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    &.confirm {
      background-color: green;
      color: #fff;
    }
    &.warning {
      background-color: yellow;
    }
  }
}
*/
.frame {
  margin: 10px;
  padding: 10px;
}
button.btn {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.confirm {
  background-color: green;
  color: #fff;
}

.warning {
  background-color: yellow;
}