body {
  font-size: 16px;
  color: #000;
  line-height: 1.6em;
  display: flex;
  display: grid;
}

.frame {
  transform: translate(200px, 100px);
  box-sizing: border-box;
}

h1 {
  font-size: 26px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3em;
}
h1 span {
  display: block;
  color: red;
}
h1 span:hover {
  transition: 0.3s ease-in-out;
  transform: translateX(10px);
  color: blue;
}