@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Noto Sans KR", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

.sns {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 600px;
}
.sns li {
  flex: 1;
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}
.sns li a {
  color: #000;
  text-transform: uppercase;
}