@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// @import 'reset';

//mixin and include
@mixin default {
  font-family: 'Raleway', serif;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.6em;
  background-color: #fff;
  color: #333;
}
@mixin btn {
  width: 100px;
  height: 30px;
  border: 2px solid #ddd;
  background-color: #fff;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: 0.35s;
  &:hover {
    background-color: #ddd;
    color: #fff;
  }
}
