@import 'mixin';

body {
  @include default;
}

// $color-complete: green;
// $color-loading: royalblue;
// $color-error: red;

$statuses: (
  complete: green,
  loading: royalblue,
  error: red,
);

.button-group {
  text-align: center;
  margin-bottom: 20px;
  .btn {
    @include btn;
  }
  @each $name, $color in $statuses {
    .#{$name} {
      color: $color;
      border-color: $color;
      &:hover {
        color: #fff;
        background-color: $color;
      }
    }
  }
  .approval {
    @include btn-border(2px, solid, royalblue);
    @include btn-padding(10px, 40px);
  }
  .refuse {
    @include btn-border(2px, dashed, crimson);
    @include btn-padding(10px, 40px);
  }
  // .complete {
  //   color: $color-complete;
  //   border-color: $color-complete;
  //   &:hover {
  //     color: #fff;
  //     background-color: $color-complete;
  //   }
  // }
  // .loading {
  //   color: $color-loading;
  //   border-color: $color-loading;
  //   &:hover {
  //     color: #fff;
  //     background-color: $color-loading;
  //   }
  // }
  // .error {
  //   color: $color-error;
  //   border-color: $color-error;
  //   &:hover {
  //     color: #fff;
  //     background-color: $color-error;
  //   }
  // }
}
